/* Navigation styles */
.logo {
    background: white;
    height: 70px;
    width: 80px;
}

#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
    background-color: lightslategray;
    padding: 20px;
    justify-content: space-between;
}

button {
    background-color: black;
    color: white;
    height: 20px;
    width: 100px;
}
button:hover {
    background-color: blue;
}

#alogo {
    height: 50px;
    margin: 10px;
}
.profile {
    display: flex;
    flex-direction: column;
    width: 20%;
}
h1:hover {
    color: yellow;
}

#navBar h1 {
    color: blue;
    width: 100%;
    font-weight: bold;
}

#navigation {
    color: blue;
    font-weight: bold;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#navigation p {
    cursor: pointer;
    text-decoration: none;
}

.nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

/* Column styles */

.column {
    display: flex;
    height: 1200px;
    width: 100%;
    flex-direction: column;
    margin: 0 5%;
}

.project1, .project2, .project3, .project4 {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.project1 {
    margin-top: 20px;
    background-image: url("../UX_UI_HW_17/images/YOUWHO.png");
}

.project2 {
    margin-top: 20px;
    background-image: url("../UX_UI_HW_17/images/LISTR.png");
}

.project3 {
    margin-top: 20px;
    background-image: url("../UX_UI_HW_17/images/DOE.png");
}

.project4 {
    margin-top: 20px;
    background-image: url("../UX_UI_HW_17/images/MOREART.png");
}

.text {
    font-family: Arial;
    background: rgba(0,0,0,0.7);
    width: 100%;
    padding: 20px 40px;
    color: white;
}

.text p {
    color: rgba(255,255,255,0.7);
    font-family: Arial, Helvetica, sans-serif;
}

.text h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Footer Styles */

.footer {
    display: flex;
    background-color: black;
    justify-content: space-around;
    padding: 40px;
    font-family: sans-serif;
}

.footer a{
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
}

.vm {
    color: skyblue;
}

.fb {
    color: navy;
}

.tw {
    color: cornflowerblue;
}

.ig {
    color: hotpink;
}

/* Grid CSS */
